DATABASE_URL=postgres://user:password@localhost:5432/insighta_web
DATABASE_MAX_CONNECTIONS=5
SERVER_ADDR=0.0.0.0:3000
RUST_LOG=insighta_web=info,tower_http=debug
GITHUB_CLIENT_ID=your_github_client_id
GITHUB_CLIENT_SECRET=your_github_client_secret
JWT_SECRET=your_jwt_secret
BASE_URL=http://localhost:3000
